body {
  background-color: lightblue;
}
h1{
  color: red;
}

.rotate {
  animation: rotation 6s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.zoom-in-and-out{
  animation: zoom-in-and-out 2s ease-out infinite;
}
@@keyframes zoom-in-and-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
